:root, body {
	width: 100vw;
	height: 100vh;
	background-color: black;
	color: white;
	font-family:'Inter', Tahoma, Geneva, Verdana, sans-serif
}

body {
	margin: 0;
}

.list-item {
	transition: height 0.075s ease;
}

#controls button, #controls input {
	background-color: #121212;
	color: white;
	border: 1px solid #ffffff20;
	margin: 4px;
	border-radius: 8px;
	min-height: 32px;
	height: 32px;
}